<div style="border-width: 10px; border-color: white; border-radius: 20px; border-style: solid; padding: 10px;">
<h3 style="text-align: center; font-style: bold; color: white;">Accomplishments</h3>
<div style="text-align: start;color: white; font-size: 18px; padding-left:10%;font-family: serif; ">
<li>Published a paper “Project Marshal” based on ML and NLP
    <a href="http://www.testmagzine.biz/index.php/testmagzine/article/view/5658/4537">http://www.testmagzine.biz/index.php/testmagzine/article/view/5658/4537</a></li>
<li>Published a paper “Text Mining and Sentimental Analysis on Comments using Machine Learning and
   NLP” Based on ML and NLP.
<li>I have lead a team for over a year by learning application development. We have providing solutions to small
   scale business like canteens and event managements.</li>
<li>Conducted Android and NLP workshops as lead speaker.</li>
<li>Received certificate from "24-hours hackathon" conducted by scales force.</li>
</div>
</div>