{% extends "base.html" %} {% block page_content%}

<div style="background-color: black">
  <div
    style="
      color: white;
      padding-top: 5%;
      padding-right: 5%;
      padding-bottom: 20%;
      font-family: 'Brush Script MT', cursive;
    "
  >
    <h1
      style="
        color: white;
        padding-top: 2%;
        padding-right: 5%;
        text-align: end;
        font-family: 'Brush Script MT', cursive;
      "
    >
      Sai.
    </h1>

    <h1
      style="color: white; padding-top: 5%; padding-left: 10%; font-size: 100px"
    >
      Hi, It's a Pleasure to meet you...
    </h1>

    <h1
      style="
        color: white;
        font-size: 40px;
        padding-left: 20%;
        padding-right: 20%;
        font-family: Fantasy;
      "
    >
      Introduction
    </h1>
    <h1
      style="
        color: white;
        font-size: 20px;
        padding-left: 20%;
        padding-right: 20%;
        font-family: serif;
      "
    >
      Innovative Artificial Intelligence Engineer possessing strong mathematical
      skills and detailed knowledge of machine learning evaluation metrics and
      best practices. Offering experience in creating programs and algorithms to
      enable machines to take actions without being directed. Expertise in
      predictive analysis, data mining and computational statistics. Logical and
      detailed professional with exceptional Python coding and typed language
      skills such as Java and JavaScript. Looking for a challenging role in a
      reputable organization to utilize my technical, database, and management
      skills for the growth of the organization as well as to enhance my
      knowledge about new and emerging trends in the IT sector as well as
      striving to contribute my part of tribute to IT sector for making human
      life better and modern.
    </h1>

    <h1
      style="
        color: white;
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        font-family: Fantasy;
      "
    >
      Work experience
    </h1>

    <div style="display: flex; padding-left: 15%; padding-right: 15%">
      <div
        style="
          flex: 1;
          transition: 0.3s;
          font-family: serif;
          background-color: rgb(20, 115, 204);
        "
      >
        <div style="padding: 20px">
          <h2 style="text-align: center">Software Engineer</h2>
          <h4>HCL Technologies, Chennai(NOV/2020 - MAY/2022)</h4>
          <li>Worked on multiple track in the BD projet.</li>
          <li>
            Worked as a shared resource for three track Oracle ops being major
            track.
          </li>
          <li>
            Trained and worked on oracle Pl/SQL and oracle EBS PDH along with
            python.
          </li>
          <li>
            Worked as a MDM analyst on APS MDM project on generating weekly and
            monthly reports.
          </li>
          <li>
            Collabored with other integration teams and International data
            sharing organizations to represent products data on a global level.
          </li>
          <li>
            Provided direction and guidance to process improvements and
            established policies.
          </li>
          <li>
            Provided guidance and mentored less-experienced staff members.
          </li>
          <li>
            Updated old code bases to modern development standards, improving
            functionality.
          </li>
          <li>
            Woked on building templates for the clients requiremts in DocuSign.
          </li>
        </div>
      </div>
      <div
        style="
          flex: 1;
          font-family: serif;
          background-color: rgb(153, 127, 255);
        "
      >
        <div style="padding: 20px">
          <h2 style="text-align: center">AI Programmer Analyst</h2>
          <h4>
            Techsol Life Sciences Private Limited, Hyderabd(JUN/2022 - Current)
          </h4>

          <li>
            Worked as AI developer in the field of NLP to automate the PV proces
          </li>
          <li>
            Honed my skills in python during my work as API creation in Django
            and building Deep learning AI model.
          </li>
          <li>
            Built NER and text classification models and deployed them as Django
            API
          </li>
          <li>
            Created a program to annotate PDF files along with TOC and
            highlighting the entities.
          </li>
          <li>
            Managed infrastructure and data pipelines to bring codes to
            production
          </li>
          <li>
            Developed ML algorithms to analyze huge volumes of historical data
            to make predictions
          </li>
          <li>Selected appropriate datasets and data representation methods</li>
          <li>
            Utilized data modeling and evaluation strategies to find patterns
            and predict unseen instances
          </li>
          <li>Created proofs of concept for innovative new solutions</li>
          <li>
            Supervised work of programmers, designers and technicians, assigned
            tasks and monitored performance against targets
          </li>
          <li>
            Documented software development methodologies in technical manuals
            to be used by IT personnel in future projects.
          </li>
        </div>
      </div>
    </div>
    <div   style="display: flex; padding-left: 15%; padding-right: 15%">
      <div 
      style="
        padding: 5%;
        flex: 1;
        font-family: serif;
        background-color: rgb(25, 176, 196);
      ">
     <h2 style="text-align: center;">React Developer</h2>
     <h4 style="text-align: center;">Crayond digital private limited, Chennai(APR/2019 - JUN/2019)</h4>
     <li>
       Designed REST calls using React to streamline user interface
       performance.
     </li>
     <li>
       Created web applications based on React, integrating best user friendly
       practices for interface design.
     </li>
     <li>
       Collaborated with project managers to select ambitious, but realistic
       coding milestones on pre-release software project development.
     </li>
     <li>
       Revised, modularized and updated old code bases to modern development
       standards, reducing operating costs, and improving functionality.
     </li>
     <li>Trainied CSS, HTML, JavaScript and AJAX concepts</li>
     <li>
       Updated old code bases to modern development standards, improving
       functionality.
     </li>
   </div>

   <img src="Capture.JPG" alt="saivamshi"  width="500" height="600"/>
  </div>
  </div>
  {% endblock %}
</div>
